@model RepairAndConstruction.Models.Worker

@{
    ViewData["Title"] = "Worker Details";
}

<h1>Worker Details</h1>

<div>
    <h4>Worker</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Full Name</dt>
        <dd class="col-sm-10">@Model.FullName</dd>

        <dt class="col-sm-2">Profession</dt>
        <dd class="col-sm-10">@Model.Profession</dd>

        <dt class="col-sm-2">Location</dt>
        <dd class="col-sm-10">@Model.Location</dd>

        <dt class="col-sm-2">Rating</dt>
        <dd class="col-sm-10">@Model.Rating</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
